aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
async-timeout==5.0.1
attrs==26.1.0
certifi==2026.5.20
charset-normalizer==3.4.7
dateparser==1.4.1
dotenv==0.9.9
duckdb==1.5.4
durationpy==0.10
frozenlist==1.8.0
idna==3.18
joblib==1.5.3
kubernetes==36.0.2
multidict==6.7.1
numpy==2.2.6
nvidia-nccl-cu12==2.30.7
oauthlib==3.3.1
pandas==2.3.3
prometheus-api-client==0.7.2
propcache==0.5.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.2
PyYAML==6.0.3
regex==2026.5.9
requests==2.34.2
requests-oauthlib==2.0.0
scikit-learn==1.7.2
scipy==1.15.3
six==1.17.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.4
urllib3==2.7.0
websocket-client==1.9.0
xgboost==3.2.0
yarl==1.24.2
